<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <div><%- messages() %></div>

    <h2>Welcome <%# locals.accountData.account_firstname %></h2>  
    <p>You're logged in.</p>

    <a href="./account-update">Edit Account Information</a>

<style>
    main{
          display: flex;
          flex-direction: column; 
          align-items: center;
        }
</style>