<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <div><%- messages() %></div>

    <h1>Welcome</h1>  
    <div><%# account_firstname %></div>
    <p>You're logged in.</p>

    <a href="./account-update">Edit Account Information</a>