<% const d = new Date(); let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <!-- add a Error link here for the assignment 3 -->
    <a class='error' href="http://localhost:5500/inv/broken">Error Link</a>
    <!-- this is doing a 404 error, need to get it to do a 500 error -->
</footer>

<!-- STYLE -->
<style>
    #error {
        font-size: 18px;
        text-decoration: underline;
        color: blue;
    }
</style>