<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <section id="loggedIn">
            <a title="Click to log in" href="../account/account-management">Welcome Basic</a>
                <!-- when Welcome Basic is clicked, it will take them to account managment view -->
        
            <a title="Click to log in" href="/">Logout</a>
                <!-- If logout is clicked, 
                    redirected to the home page
                    with 'My Account' shown on the header -->
                </section>
    <button onclick="toggle(this)">Hide Welcome and Logout</button>
        <section id="loggedOut">
            <a title="Click to log in" href="/account/login">My Account</a>
            <!-- hide the 'My Account' when logged in, show Welcome and Logout when logged in. 
                if not logged in show 'My Account'. -->
            </section>
            <button onclick="account(this)">Hide My Account</button>
    </div>
</header>
<!-- <script>
    let toggle = button => {
    let element = document.getElementById("loggedIn");
    let hidden = element.getAttribute("hidden");
    
    if (hidden) {
       element.removeAttribute("hidden");
    //    button.innerText = "Hide header";
    } else {
       element.setAttribute("hidden", "hidden");
    //    button.innerText = "Show header";
    }
  }

    let account = button => {
    let element = document.getElementById("loggedOut");
    let hidden = element.getAttribute("hidden");
    
    if (hidden) {
       element.removeAttribute("hidden");
    //    button.innerText = "Hide header";
    } else {
       element.setAttribute("hidden", "hidden");
    //    button.innerText = "Show header";
    }
  }
</script>
<style>
    a {
        margin-left: 5px;
    }
</style> -->