<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <section id="loggedIn">
            <a title="Click to go to account-management" href="./account\account-management">Welcome <%# locals.accountData.account_firstname %> |</a>
            <a onClick="logOut()" title="Click to log out" href="http://localhost:5500/" >Logout |</a>
                </section>
        <section id="loggedOut">
            <a title="Click to log in" href="/account/login">My Account</a>
            </section>
    </div>
</header>
<!-- <script>
    function logOut() {
        event.preventDefault();
        var x = document.getElementById("loggedIn");
        if (x.style.display === "none") {
        localStorage.setItem('display','block')
        x.style.display = "block";
        x.style.display = "hidden";
        // let hidden = element.getAttribute("hidden");
        } else {
        localStorage.setItem('display','none')
        x.style.display = "none";
        }
        console.log(localStorage)
    }

    function checkDisplay(){
      var x = document.getElementById("loggedIn");
      x.style.display = localStorage.getItem('display');
}
</script> -->
<style>
    a {
        margin-left: 5px;
    }
</style>