<!-- head.ejs -->
<!-- header.ejs -->
<!-- navigation.ejs -->

<!-- Body -->
<section class="hero">
    <div class="hero-content">
        <h2 class="hero-title">Welcome to CSE Motors!</h2>
            <p class="hero-subtitle"><strong>DMC Delorean</strong><br>
        3 cup holders<br>
        Superman doors<br>
        Fuzzy dice!</p>
    <img class="hero-button" src="/images/site/own_today.png" alt="Own Today Button">
    </div>
</section>  

<section id="reviews">
    <h2>DMC Delorean Reviews</h2>
<ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling Mcfly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
</ul>
</section>

<section id="upgrades">
    <h2>Delorean Upgrades</h2>
        <div id="row1">
<div id="flux">
    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitator">
    <p>Flux Capacitator</p>
</div>
<div id="flame">
    <img id='decals' src="/images/upgrades/flame.jpg" alt="Flame Decals">
    <p>Flame Decals</p>
</div>
        </div>
        <div id="row2">
<div id="bumper">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
    <p>Bumper Stickers</p>
</div>
<div id="hub">
<img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
    <p>Hub Caps</p>
</div>
        </div>
    <!--Flux Capacitator--> <!--Flame Decals-->
    <!--Bumper Stickers-->  <!--Hub Caps-->
</section>


<!-- footer.ejs -->