<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/')} %>
  
<%- messages() %>

<form id="newInventory" action="/inv/update" method="post">
    <p>All feilds are required.</p>
    <fieldset>
            <div class="form">
            <label for="classification_id">Classification:</label>
                    <select id="classification_id" name="classification_id" required 
                            placeholder="Choose a Classification">
                        <option value="">Select Classification</option>
                    </select>
                    <br>
            <label for="inv_make">Make:</label>
                    <input type="text" id="inv_make" name="inv_make" required 
                            placeholder="Min of 3 characters" pattern="^.{3,}$">
                            
            <label for="inv_model">Model:</label>
                    <input type="text" id="inv_model" name="inv_model" required 
                            placeholder="Min of 3 characters" pattern="^.{3,}$">
            <label for="inv_description">Description:</label>
                    <br>
                    <textarea id="inv_description" name="inv_description" required></textarea>
                    <br>
            <label for="inv_image">Image:</label>
                    <input type="text" id="inv_image" name="inv_image" required
                            placeholder="/images/vehicles/no-image.png">
            <label for="inv_thumbnail">Thumbnail:</label>
                    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
                            placeholder="/images/vehicles/no-image.png">
            <label for="inv_price">Price:</label>
                    <input type="text" id="inv_price" name="inv_price" required 
                            placeholder="decimal or integer" pattern="^\d+(\.\d+)?$">
            <label for="inv_year">Year:</label>
                    <input type="text" id="inv_year" name="inv_year" required 
                            placeholder="4-digit year" pattern="/^\d{4}$/">
            <label for="inv_miles">Miles:</label>
                    <input type="text" id="inv_miles" name="inv_miles" required 
                            placeholder="digits only" pattern="^[0-9]+$">
            <label for="inv_color">Color:</label>
                    <input type="text" id="inv_color" name="inv_color" required>
            </div>
            <button type="submit">Update Vehicle</button>
                <input type="hidden" name="inv_id"
                <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>    
            </fieldset>
</form>






<script>
// Get the select element
const classificationSelect = document.getElementById('classification_id');

// Function to add a new option to the select element
function addOptionToSelect(value, text) {
const option = document.createElement('option');
option.value = value;
option.textContent = text;
classificationSelect.appendChild(option);
}

addOptionToSelect(1, 'Custom');
addOptionToSelect(2, 'Sedan');
addOptionToSelect(3, 'Sport');
addOptionToSelect(4, 'SUV');
addOptionToSelect(5, 'Truck');
// addOptionToSelect(6, 'Beater');
</script>

<style>
    main{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  
    }
    input {
    width: 100%;
    margin: 5px;
    }
    #button {
      background-color: rgb(37, 150, 190);
      border: none;
      color: white;
      font-size: 15px;
      padding: 10px 20px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    form {
      grid-column: 2/2;
    }
    p {
      grid-row: 2/2;
      grid-column: 2/2;
    }
  </style> 