<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <div><%- messages() %></div>

    <!-- add new classification view -->
<a id="classification" href="/inv/add-classification">Add new Classification</a>

    <!-- add new inventory view -->
<a id="inventory" href="/inv/add-inventory">Add new Inventory</a>


<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 50px;
    }
    a {
        padding-bottom: 15px;
    }
</style>