<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <h1>Management View</h1>

    <%- messages() %>

    <!-- add new classification view -->


    <!-- add new inventory view -->

