<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <h1>Management View</h1>

    <div><%- messages() %></div>

    <!-- add new classification view -->
<a href="./add-classification.ejs">Add new Classification</a>

    <!-- add new inventory view -->
<a href="./add-inventory.ejs">Add new Inventory</a>
