<!-- Task 1 Unit 4 -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/')} %>

    <div><%- messages() %></div>

    <!-- add new classification view -->
<a id="classification" href="/inv/add-classification/" title="Click to add new vehicle classification">Add new Classification</a>
    <!-- add new inventory view -->
<a id="inventory" href="/inv/add-inventory/" title="Click to add new vehicle">Add new Inventory</a>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<select id="classificationList" required>
    <%- classificationSelect %>
</select>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>


<style>
    main{
          display: flex;
          flex-direction: column; 
          align-items: center;
        }
        input {
        width: 100%;
        }
        #button {
          background-color: rgb(37, 150, 190);
          border: none;
          color: black;
          font-size: 15px;
          padding: 10px 20px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
        }
        span {
          font-weight: bold;
        } 
</style>